{% load staticfiles %}
<div class="header">
        <a href="/" class="logo" title="首页"><img alt="我的音乐" src="{% static "image/logo2.png" %}"></a>
        <div class="search-box">
            <form id="searchForm" action="{% url 'search' 1 %}" method="post" target="_blank">
                {% csrf_token %}
                <div class="search-keyword">
                    <input name="kword" type="text" class="keyword" maxlength="120" placeholder="搜索歌曲" />
                </div>
                <input id="subSerch" type="submit" class="search-button" value="搜 索" />
{#                <a class= href="{% url 'search' 1 %}" target="_blank"><img alt="语音搜索" src="{% static "image/logo.jpg" %}"></a>#}
            </form>
            <div id="suggest" class="search-suggest"></div>
            <div class="search-hot-words">
                {% for song in search_song  %}
                    <a target="play" href="{% url 'play' song.song.song_id %}" >{{ song.song.song_name }}</a>
                {% endfor  %}
            </div>
        </div>
        <div>
            <ul class="nav navbar-nav navbar-right">
                  {% if request.session.is_login %}
                      <li><a href="{% url 'home' 1 %}">当前在线：{{ request.user.username }}</a></li>
                      <li><a href="{% url 'logout'  %}">登出</a></li>
                  {% else %}
                      <li><a href="{% url 'login'  %}">登录</a></li>
                      <li><a href="{% url 'register'  %}">注册</a></li>
                  {% endif %}
              </ul>
        </div>
</div>